

.form-control{
  border-color: var(--color-lemongreen);
  width:70%;
  left:15%;
  right: 15%;
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
}
.btn-submit{
  width:70%;
  left:15%;
  right: 15%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--color-lemon);
  color: var(--color-lemongreen);
  border-radius: 25px;
  border-color: var(--color-lemongreen);
  outline:none;
}

.invalid-feedback{
  color: var(--color-red);
  width:70%;
  margin-left:15%;
  right: 15%;

}

.forgot-password{


  margin-left:15%;
  margin-top: 10px;

}

.facebook-login-button{
  width:70%;
  margin-left: 15%;
  padding-top: 0px;
  height: 40px;
  background-color: var(--color-facebook);
  color: var(--color-white) !important;
  font-weight: bold;
  border-radius: 25px;
  border-color: var(--color-facebook) !important;
  outline:none;
}
